*~
*.o
*.la
*.lo
.*.sw?
*.tar.bz2
*.tar.gz
*.pyc
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
Makefile
Makefile.in
stamp-h1
INSTALL
.version
.dirstamp
.deps
.libs
